$edu: #0D2;
$job: #0AD;
$skl: #f95;
$defaultColor: $skl;

html{
	font-size: 18px;
	padding-bottom: 5rem;
}
body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	border-bottom: 1px solid #ccc;
	color: #0AD;
	transition-duration: .3s;
	transition-property: border-color, color, text-shadow;
	text-shadow: 1px 1px 0px rgba(200, 200, 200, 0);
	
	&:hover, &:focus{
		border-color: #000;
		color: #09B;
		text-decoration: none;
		text-shadow: 1px 1px 0px rgba(200, 200, 200, .5);
	}
}
h3 small{
	color: #aaa;
}
h1{
	font-size: 2rem;
}
.bigLink{
	color: #000;
}

p{
	font-size: 1rem;
}

// making the print right...
.h2{font-size: 1.875rem;}
.h3{font-size: 1.5rem;}
@media print{
	html{
		font-size: 12px;
	}
	.pageBreak{
		margin-bottom: 8rem;
	}
}
.menuLink{
	font-size: 1.2rem;
	margin: .5em .2em;
	display: inline-block;
}

// HELPERS
.margintop3rem{margin-top: 3rem;}